.button-container {
  position: absolute;
  display: grid;
  place-items: center;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  border-radius: .5rem;
  opacity: 0;
  transition: 450ms opacity;
}

.button-container:hover {
  opacity: 1;
}


.button {
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  border-radius: .5rem;
  font: var(--body1-bold);
  background: #00A2FF;
  color: var(--white);
  padding: .5rem 1rem;
  cursor: pointer;
  gap: .5rem;
}

.button-container a {
  text-decoration: none;
}

.icon {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background: url("../assets/images/map.svg");
}

@media screen and (max-width: 768px) {

  .button {
    font-size: 12px;
    white-space: nowrap;
    flex-direction: column;
    padding: 0;
  }

  .button-container {
    background: #00A2FF;
  }

}